<!DOCTYPE html>
<html>
  <link rel="stylesheet" type="text/css" href="static/styles/index.css">
  <script type="text/javascript" src="https://code.jquery.com/jquery-3.2.1.min.js"></script>
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/materialize/0.100.2/css/materialize.min.css">
  <script src="https://cdnjs.cloudflare.com/ajax/libs/materialize/0.100.2/js/materialize.min.js"></script>
  <script src="static/index.js"></script>
  <head>
    <meta charset="utf-8">
    <title></title>
  </head>
  <body>
      <div class="parallax-container">
          <div class="parallax"><img src="static/images/social-media.jpg"></div>
          <div class="title-text-carl">CarlCoin</div>
      </div>
    <div class="container">
      <div class="row">

        <div class="card col s4">
          <div class="card-image waves-effect waves-block waves-light">
            <img class="activator" src="static/images/cryptoB.jpg">
          </div>
        <div class="card-content">
          <span class="card-title activator grey-text text-darken-4">Independent</span>
          <p><a href="#">More</a></p>
        </div>
        <div class="card-reveal">
          <span class="card-title grey-text text-darken-4">Independent<i class="material-icons right">close</i></span>
          <p>CarlCoin is the only cryptocurrency you will ever need.</p>
        </div>
      </div>
      <div class="card col s4">
        <div class="card-image waves-effect waves-block waves-light">
          <img class="activator" src="static/images/cryptoC.jpg">
        </div>
      <div class="card-content">
        <span class="card-title activator grey-text text-darken-4"></span>
        <p><a href="#">This is a link</a></p>
      </div>
      <div class="card-reveal">
        <span class="card-title grey-text text-darken-4">Card Title<i class="material-icons right">close</i></span>
        <p>Here is some more information about this product that is only revealed once clicked on.</p>
      </div>
    </div>
    <div class="card col s4">
      <div class="card-image waves-effect waves-block waves-light">
        <img class="activator" src="images/office.jpg">
      </div>
    <div class="card-content">
      <span class="card-title activator grey-text text-darken-4">Card Title<i class="material-icons right">more_vert</i></span>
      <p><a href="#">This is a link</a></p>
    </div>
    <div class="card-reveal">
      <span class="card-title grey-text text-darken-4">Card Title<i class="material-icons right">close</i></span>
      <p>Here is some more information about this product that is only revealed once clicked on.</p>
    </div>
  </div>
  <p class="title-text-carl">asdfrr</p>
</div>

    </div>
  </body>
</html>
